[submodule "kraken-api-client"]
	path = kraken-api-client
	url = https://github.com/payward/kraken-api-client.git
[submodule "aither-easy-php"]
	path = aither-easy-php
	url = https://github.com/aithercore/aither-easy-php
